/*--------------------------------------------------
I N I T
website by websolute
--------------------------------------------------*/
@import "modules/variables";
@import "modules/utilities.scss";
@import "modules/typography";


body {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: $main;

    a {
        color: $secondary;
        text-decoration: none;
        @include transition;

        &:hover {
            text-decoration: none;
            color: red;
        }
    }

}